/* General settings */

:root{
    --legend-color-one: #828282;
    --legend-color-two: #696C85;
    --black-font-color: #0A071B;
    --black-one: #1F1F24;
    --black-two: #35353D;
    --black-three: #737380;
    --primary-light: #22202B;
    --secondary-light: #DCDAE5;
    --primary-normal: #0A071B;
    --secondary-normal: #5138EE;
    --primary-dark: #07002D;
    --secondary-dark: #3420B6;

    --montserrat: 'Montserrat', sans-serif;
    --inter: 'Inter', sans-serif;
}
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
button{
    border: none;
    background-color: transparent;
}

/* Configuring fonts */

.headding-one{
    font-family: 'Montserrat', sans-serif;
    font-size: 43px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 53px;
    color: #fff;
}
.headding-two{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1;
    line-height: 32px;
    color: var(--black-two);
}
.text-one{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--black-two);
}
.text-two{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--black-two);
}
.text-three{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3;
    color: var(--black-three);
}

.font-montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--black-font-color);
}
.font-inter{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* header */

.container{
    min-width: 600px;
    width: 90%;
    max-width: 1216px;
}
header{
    min-height: 5rem;
    display: flex;
    align-items: center;
}
.content-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.left-content{
    display: flex;
}
.logo{
    margin-right: 55px;
}
.main-menu{
    display: flex;
}
.main-menu li{
    margin-right: 26px;
}
.utilities{
    display: flex;
    align-items: center;
}
.utilities li{
    margin-left: 27px;
}
.criar{
    width: 116px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-normal);
}
.criar p{
    color: #fff;
    margin-left: 10px
}

/* Banner */

.banner{
    display: flex;
    align-items: center;
    min-height: 331px;
    background-color: var(--black-one);
    border-radius: 10px;
    position: relative;
}
.banner-texts{
    margin-left: 118px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 380px;
}
.banner-headding{
    color: #fff;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}
.DevBoost{
    color: var(--secondary-dark);
}
.banner-paragraph{
    margin: 10px 0;
    color: #fff;
    font-size: 15px;
}
.banner-paragraph-strong{
    font-size: 16px;
    font-weight: 500;
}
.saiba-mais{
    color: #fff;
    background-color: var(--secondary-normal);
    width: 150px;
    height: 40px;
    border-radius: 20px;
}
.banner-images{
    max-width: 501px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner-vector{
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}
.banner-rocket{
    position: absolute;
    right: 326px;
    bottom: 0;
}

/* Profile and posts */

.cards-container{
    margin: 36px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    min-height: 410px;
    border-radius: 10px;
    position: relative;
}
.profile,
.posts{
    padding: 24px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 385px;
    height: 408px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    color: var(--black-font-color);
}
.profile-legend{
    color: var(--legend-color-one);
    font-size: 15px;
}
.profile-title{
    align-self: start;
    font-size: 22px;
}
#profile-user-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image{
    background-image: url('assets/ImagemPerfil.svg');
    background-position: center;
    border-radius: 50%;
    width: 85px;
    height: 85px;;
    overflow: hidden;
}
.profile-name{
    margin-top: 15px;
    font-size: 18px;
}
.profile-job{
    font-size: 15px;
    line-height: 42px;
}
.profile-numbers{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 68px;
    width: 335px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
#profile-posts,
#profile-favorite,
#profile-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 9px;
}

/* Posts */

.posts{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 408px;
    max-width: 65,7%;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}
.posts-title{
    align-self: start;
    font-size: 22px;
}
.posts-card-container{
    width: inherit;
    display: flex;
    gap: 19px;
}
.posts-card{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    max-width: 235px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.posts-resume{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 17px 0 0 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 9px;
}
.posts-card-image{
    border-radius: 10px;
    width: inherit;
}
.posts-card-category{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 33px;
    background-color: #dcdae5;
    border-radius: 37px;
    color: var(--secondary-normal);
    font-size: 13px;
}
.posts-card-text{
    font-size: 15px;
    line-height: 23px;
}
.posts-card-author{
    color: #696C85;
    font-size: 13px;
}
.posts-card-author b{
    font-weight: 700;
}